<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin">Back to List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Name</label>
      <div class="form-control">{{providerReg.name}}</div>
    </div>
    <div class="form-group">
      <label>Type</label>
      <div class="form-control">{{providerReg.type}}</div>
    </div>
    <div class="form-group">
      <label>Address</label>
      <div class="form-control">{{providerReg.address}}</div>
    </div>
    <div class="form-group">
      <label>City</label>
      <div class="form-control">{{providerReg.city}}</div>
    </div>
    <div class="form-group">
      <label>State</label>
      <div class="form-control">{{providerReg.state}}</div>
    </div>
    <div class="form-group">
      <label>Country</label>
      <div class="form-control">{{providerReg.country}}</div>
    </div>
    <div class="form-group">
      <label>Registered Date</label>
      <div class="form-control">{{providerReg.registeredDate}}</div>
    </div>
  </div>
</div>